extends Layout

block content
    .row
        .col-md-12
          h1 Game Over
          ul#players
          h2 Players Left
           strong#playersLeft
          h2
            a.btn.btn-primary(href="/game") New Game
    script(type="text/javascript")
      | var gameDBName = '#{gamedb}';
    script(type="text/javascript", src="//cdn.jsdelivr.net/pouchdb/5.2.1/pouchdb.min.js")
    script(type="text/javascript", src="/gameover.js")
