extends Layout

block content
    .row
        .col-md-12.vertical-height
          h1.text-center Waiting For Game
          ul#players
    script(type="text/javascript")
      | var twitterUser = '#{username}';
    script(type="text/javascript", src="//cdn.jsdelivr.net/pouchdb/5.2.1/pouchdb.min.js")
    script(type="text/javascript", src="https://js.pusher.com/3.0/pusher.min.js")
    script(type="text/javascript", src="/game.js")
