extends Layout

block content
    .row
        .col-md-12.text-center
            h1 #{appname}
    .row
        .col-md-12.text-center.vertical-height
            a.btn.btn-lg.btn-primary.center-button(href="/login") 
                i.fa.fa-twitter
                |  Login with Twitter
