extends Layout

block content
  .index-content
    .row
        .col-md-12.text-center
            h1 
              mark.type_mark #{appname}
    .row
        .col-md-12.text-center.vertical-height
            a.button_primary.center-button(href="/login") 
                i.fa.fa-twitter
                |  Login with Twitter
