html
  include includes/head
  body
    header.capped-layout_cap.app-banner
      a.app-banner_title(rel="home", href="https://developer.ibm.com/clouddataservices") IBM Cloud Data Services // Dev
    .container
      block content
    include includes/foot
