html
  include includes/head
  body
    .container
      .row
          header.capped-layout_cap.app-banner.col-md-12
            a.app-banner_title(rel="home", href="https://developer.ibm.com/clouddataservices") IBM Cloud Data Services // Dev
      block content
    include includes/foot
