extends Layout

block content
  .index-content
    h1
      mark.type_mark Leaderboard
    p
      span.button_group(role="group")
        a.button_primary#asktojoin Who is game?
        a.button_primary.disabled#startgame Start
    div#leaderboard
    script(type="text/javascript", src="//cdn.jsdelivr.net/pouchdb/5.2.1/pouchdb.min.js")
    script(type="text/javascript", src="https://js.pusher.com/3.0/pusher.min.js")
    script(type="text/javascript", src="/leaderboard.js")
